# Homework

## Q1. Pandas version
What's the version of Pandas that you installed?

In [29]:
import pandas as pd
import numpy as np

In [30]:
pd.__version__

'2.3.2'

## Q2. Records count

How many records are in the dataset?

In [31]:
df = pd.read_csv("./car_fuel_efficiency.csv")

In [32]:
len(df)

9704

## Q3. Fuel types

How many fuel types are presented in the dataset?

In [33]:
len(df['fuel_type'].unique())

2

## Q4. Missing values

How many columns in the dataset have missing values?

In [34]:
df.columns[df.isna().any()]

Index(['num_cylinders', 'horsepower', 'acceleration', 'num_doors'], dtype='object')

## Q5. Max fuel efficiency

What's the maximum fuel efficiency of cars from Asia?

In [35]:
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

## Q6. Median value of horsepower

1. Find the median value of `horsepower` column in the dataset.
2. Next, calculate the most frequent value of the same `horsepower` column.
3. Use `fillna` method to fill the missing values in `horsepower` column with the most frequent value from the previous step.
4. Now, calculate the median value of `horsepower` once again.

Has it changed?


- Yes, it increased
- Yes, it decreased
- No

In [36]:
df['horsepower'].median()

np.float64(149.0)

In [37]:
most_frequent_horsepower = df['horsepower'].value_counts().values[0]

In [38]:
df['horsepower'] = df['horsepower'].fillna(most_frequent_horsepower)

In [39]:
df['horsepower'].median()

np.float64(146.0)

## Q7. Sum of weights

1. Select all the cars from Asia
2. Select only columns `vehicle_weight` and `model_year`
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Invert `XTX`.
7. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100, 1200]`.
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the sum of all the elements of the result?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

- 0.051
- 0.51
- 5.1
- 51

In [40]:
df.head(10)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,142.0,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
5,190,3.0,142.0,2484.883986,14.7,2008,Europe,Gasoline,All-wheel drive,-1.0,17.271818
6,240,7.0,127.0,3006.542287,22.2,2012,USA,Gasoline,Front-wheel drive,1.0,13.210412
7,150,4.0,239.0,3638.657780,17.3,2020,USA,Diesel,All-wheel drive,1.0,12.848884
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
9,150,4.0,123.0,3509.036569,10.2,2005,USA,Gasoline,Front-wheel drive,-1.0,12.298355

In [41]:
X = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7).values

In [42]:
XTX = np.dot(X.T, X)
XTX

array([[62248334.33150761, 41431216.5073268 ],
       [41431216.5073268 , 28373339.        ]])

In [43]:
XTX_inv = np.linalg.inv(XTX)

In [44]:
y =np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [45]:
w = (XTX_inv @ X.T) * y

In [46]:
np.sum(w)

np.float64(0.5187709081074006)